@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');


.group16 {
    width: 1920px;
    height: 130px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #FFF;

    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;

}

.group15 {
    width: 1440px;
    height: 56px;
    margin-top: 37px;
    margin-bottom: 37px;

    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.group2 {
    width: 253.041px;
    height: 53px;
    flex-shrink: 0;
    margin-top: 1px;
    margin-bottom: 2px;
    display: flex;
    gap: 20px;

}

.group2 img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 6px;
}

.group2 h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #0B0223;
    text-transform: capitalize;
    margin: 0;
}

.group2 h1::first-letter {
    color: #FF42A5;
}

.group7 {
    width: 505px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    gap: 32px;

}

.group3 {
    width: 211px;
    height: 21px;
    flex-shrink: 0;
    display: flex;
    gap: 32px;
    margin-top: 17px;
    margin-bottom: 18px;
    justify-content: space-between;
}

.group7 a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 17px;
    margin-bottom: 18px;

}

.group6 {
    width: 262px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    display: flex;
    gap: 24px;






}

.group6 a {
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: auto;
    text-transform: capitalize;
    text-decoration: none;
    margin-top: 17px;
    margin-bottom: 18px;
    margin-left: 24px;
    display: block;
    width: 116px;

}

.group5 {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 73.916px;
    height: 24px;
    flex-shrink: 0;
    display: flex;

    gap: 16px;

}

.youtube {
    width: 33.916px;
    height: 24px;
    flex-shrink: 0;



}

.tiktok {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    object-fit: contain;
    mix-blend-mode: darken;
}







.main {
    display: flex;
    gap: 125px;
    width: 1920px;
    margin: 0;
}

body {
    width: 1920px;
    overflow-x: hidden;
}

.group14 {
    width: 850px;
    height: 700px;
    flex-shrink: 0;
    background-image: url("images/Group\ 14.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.group20 {
    width: 365px;
    height: 404px;
    flex-shrink: 0;

}

.group17 {
    width: 362px;
    height: 299px;
    flex-shrink: 0;
}

.group8 p {
    color: #0B0223;

    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.group8 :nth-child(2) {

    font-family: Work Sans;
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.group12 {
    width: 362px;
    height: 104px;
    flex-shrink: 0;
    margin-top: 24px;
}

.group9 {
    width: 223px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    gap: 12px;
}

.group9 img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.group9 p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin: 0;
}

.group10 {
    width: 167px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    gap: 12px;
    margin-top: 17px;
}

.group10 p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.group10 img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.group11 {
    width: 362px;
    height: 24px;
    flex-shrink: 0;
    display: flex;
    gap: 12px;
    margin-top: 17px;
}

.group11 p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.group11 img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.group19 {
    width: 365px;
    height: 65px;
    flex-shrink: 0;
    display: flex;
    gap: 24px;
    margin-top: 41px;
}

.group19 button {
    display: block;
    padding: 21px 40px;
    align-items: flex-start;

    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: 0;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.group19 :nth-child(2) {
    border-radius: 48px;
    background: #4EC5F7;
}

.group18 {
    width: 719.446px;
    height: 681.018px;
    flex-shrink: 0;
}

.group18 :first-child {
    width: 719.446px;
    height: 681.018px;
    flex-shrink: 0;
    margin-top: 20px;
}






.main2 {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    display: flex;
    gap: 52px;
}

.main2 img {
    width: 868px;
    height: 489px;
    flex-shrink: 0;
    margin-top: 55px;
    margin-left: 240px;
}

.group22 {
    width: 520px;
    height: 409px;
    flex-shrink: 0;
}

.group21 {
    width: 520px;
    height: 200px;
    flex-shrink: 0;
}

.group21 :first-child {
    margin: 0;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 95px;
    margin-bottom: 24px;
}

.group21 :nth-child(2) {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    /* 166.667% */
}

.group22 button {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    padding: 21px 40px;
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    border: 0;
    margin-top: 32px;
    margin-left: 312px;
    margin-bottom: 24px;

}

.group22 p {
    width: 520px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
    margin: 0;
}

.group22 :nth-child(4) {
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
}




.group23 {
    width: 655px;
    height: 102px;
    flex-shrink: 0;
    margin-left: 632px;
}

.group23 p {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    margin-top: 120px;
    margin-bottom: 16px;

}

.group23 p span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.group23 :nth-child(2) {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin: 0px;
}

.cardgroup {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 48px;

}

.group24 {
    width: 342px;
    height: 484px;
    flex-shrink: 0;
}

.group24 img {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}

.group24 p {
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    margin: 0;
    margin-top: 24px;
}

.group25 {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
}

.group25 img {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}

.group25 p {
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    margin: 0;
    margin-top: 24px;
}

.group26 {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
}

.group26 img {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}

.group27 p {
    width: 244px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    margin: 0;
    margin-top: 24px;
}

.group27 img {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;
}

.group26 p {
    width: 342px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    /* 150% */
    margin: 0;
    margin-top: 24px;
}

.group27 {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
}

.group62 {
    width: 1253px;
    height: 725.833px;
    flex-shrink: 0;
    display: flex;
    margin-left: 427px;
    gap: 120px;
    margin-top: 120px;

}

.group30 {
    width: 353px;
    height: 294px;
    flex-shrink: 0;
    margin-top: 216px;
}

.group30 span {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.group30 p {
    color: #0B0223;
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin: 0;


}

.group30 :nth-child(2) {
    width: 353px;
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin: 0;
    margin-top: 24px;
}

.group59 {
    width: 780px;
    height: 725.833px;
    flex-shrink: 0;

}

.group59 :first-child {
    margin-left: 145.17px;
}

.group59 :nth-child(2) {
    position: relative;
    top: -280px;
}




.group61 {
    width: 1442px;
    height: 773px;
    flex-shrink: 0;
    margin-left: 238px;
    margin-top: 122px;
    display: flex;
    gap: 113px;

}

.group60 {
    width: 846px;
    height: 773px;
    flex-shrink: 0;
}

.group60 :nth-child(2) {
    margin-left: 528px;
    position: relative;
    top: -253px;
}

.group31 {
    width: 483px;
    height: 294px;
    flex-shrink: 0;
    margin-top: 240px;
}

.group31 p {
    width: 483px;
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 0;
    margin-top: 24PX;
    /* 166.667% */
}

.group31 :first-child {
    width: 426px;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

}

.group31 span {
    width: 426px;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    color: #0B0223;
   
    margin: 0;

}